<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/">Home</a>
                <span></span><a href="/shop" rel="nofollow">shop</a>
                <span></span> {{product.name}}
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="product-detail accordion-detail">
                        <div class="row mb-50">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="detail-gallery">
                                    <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                    <!-- MAIN SLIDES -->
                                    <div class="product-image-slider">
                                        {{#each product.image}}
                                        <figure class="border-radius-10">
                                            <img src="/images/products/{{this}}" alt="product image">
                                        </figure>
                                        {{/each}}

                                    </div>
                                    <!-- THUMBNAILS -->
                                    <div class="slider-nav-thumbnails pl-15 pr-15">
                                        {{#each product.image}}
                                        <div><img src="/images/products/{{this}}" alt="product image"></div>
                                        {{/each}}

                                    </div>
                                </div>
                                <!-- End Gallery -->
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="detail-info">
                                    <h2 class="title-detail">{{product.name}}</h2>
                                    <div class="product-detail-rating">
                                        <div class="pro-details-brand">
                                            {{!-- <span> Brands: <a href="shop-grid-right.html">Bootstrap</a></span>
                                            --}}
                                        </div>
                                        <div class="product-rate-cover text-end">
                                            <div class="product-rate d-inline-block">
                                                <div class="product-rating" style="width:90%">
                                                </div>
                                            </div>
                                            <span class="font-small ml-5 text-muted"> (25 reviews)</span>
                                        </div>
                                    </div>
                                    <div class="clearfix product-price-cover">
                                        <div class="product-price primary-color float-left">
                                            <ins><span class="text-brand">₹{{product.price}}</span></ins>
                                            <ins><span class="old-price font-md ml-15">₹{{ product.price}}</span></ins>
                                            <span class="save-price  font-md color3 ml-15">25% Off</span>
                                        </div>
                                    </div>
                                    <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                    <div class="short-desc mb-30">
                                        <p>{{product.description}}</p>
                                    </div>
                                    <div class="product_sort_info font-xs mb-30">
                                        <ul>
                                            <li class="mb-10"><i class="fi-rs-crown mr-5"></i> 1 Year AL Jazeera Brand
                                                Warranty</li>
                                            <li class="mb-10"><i class="fi-rs-refresh mr-5"></i> 30 Day Return Policy
                                            </li>
                                            <li><i class="fi-rs-credit-card mr-5"></i> Cash on Delivery available</li>
                                        </ul>
                                    </div>
                                    {{!-- <div class="attr-detail attr-color mb-15">
                                        <strong class="mr-10">Color</strong>
                                        <ul class="list-filter color-filter">
                                            <li><a href="#" data-color="Red"><span class="product-color-red"></span></a>
                                            </li>
                                            <li><a href="#" data-color="Yellow"><span
                                                        class="product-color-yellow"></span></a></li>
                                            <li class="active"><a href="#" data-color="White"><span
                                                        class="product-color-white"></span></a></li>
                                            <li><a href="#" data-color="Orange"><span
                                                        class="product-color-orange"></span></a></li>
                                            <li><a href="#" data-color="Cyan"><span
                                                        class="product-color-cyan"></span></a></li>
                                            <li><a href="#" data-color="Green"><span
                                                        class="product-color-green"></span></a></li>
                                            <li><a href="#" data-color="Purple"><span
                                                        class="product-color-purple"></span></a></li>
                                        </ul>
                                    </div> --}}
                                    {{!-- <div class="attr-detail attr-size">
                                        <strong class="mr-10">Size</strong>
                                        <ul class="list-filter size-filter font-small">
                                            <li><a href="#">S</a></li>
                                            <li class="active"><a href="#">M</a></li>
                                            <li><a href="#">L</a></li>
                                            <li><a href="#">XL</a></li>
                                            <li><a href="#">XXL</a></li>
                                        </ul>
                                    </div> --}}
                                    {{!-- <div class="bt-1 border-color-1 mt-30 mb-30">
                                        <input class="order__quantity--input" type="number" placeholder="1"
                                            name="quantity" value="1">
                                    </div> --}}
                                    <div class="detail-extralink">
                                        <div class="border radius ">
                                            <input class="order__quantity--input" type="number" placeholder="1"
                                                name="quantity" value="1">

                                        </div>



                                        <div class="product-extra-link2">

                                            {{#if outOfStock}}
                                            <span id="outofstock">
                                                <button id="outofstock-btn" class="btn btn-md "
                                                    style="background-color: #dc3545;">Out of stock</button>
                                            </span>
                                            {{else}}
                                            {{#if ProductExistInCart}}

                                            <span id="gocart">
                                                <button id="addcart-btn" onclick="window.location.href='/cart'"
                                                    class="btn btn-md">Go to cart</button>


                                            </span>



                                            {{else}}
                                            <span id="addcart">
                                                <button id="addcart-btn" data-product-id="{{product._id}}"
                                                    class="button button-add-to-cart">Add to cart</button>

                                            </span>
                                            {{/if}}



                                            {{/if}}
                                            <a aria-label="Add To Wishlist" class="action-btn hover-up"
                                                href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                            <a aria-label="Compare" class="action-btn hover-up"
                                                href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                                        </div>
                                    </div>
                                    <ul class="product-meta font-xs color-grey mt-50">
                                        <li class="mb-5">SKU: <a href="#">FWM15VKT</a></li>
                                        <li class="mb-5">Tags: <a href="#" rel="tag">Controllers</a>, <a href="#"
                                                rel="tag">Console</a>, <a href="#" rel="tag">Games</a> </li>
                                        <li>Availability:<span class="in-stock text-success ml-5">{{product.stock}}
                                                Items In
                                                Stock</span></li>
                                    </ul>
                                </div>
                                <!-- Detail Info -->
                            </div>
                        </div>
                        <div class="tab-pane" id="Reviews">
                            <!--Comments-->
                            <div class="comments-area">
                                <div class="row">
                                    <div class="col-lg-8">
                                        {{#if reviewExist}}
                                        <h4 class="mb-30"> REVIEWS</h4>
                                        <div class="comment-list">
                                            {{#each reviews}}
                                            <div class="single-comment justify-content-between d-flex">
                                                <div class="user justify-content-between d-flex">
                                                    <div class="thumb text-center">
                                                        <img src="/images/users/{{this.productImage}}" alt="user image"
                                                            alt="">
                                                        <h6><a href="#">{{this.name}}</a></h6>
                                                        {{!-- <p class="font-xxs">Since 2012</p> --}}
                                                    </div>
                                                    <div class="desc">
                                                        <div class="product-rate d-inline-block">
                                                            <div class="product-rating" style="width:90%">
                                                            </div>
                                                        </div>
                                                        <p>{{this.comment}}</p>
                                                        <div class="d-flex justify-content-between">
                                                            <div class="d-flex align-items-center">
                                                                <p class="font-xs mr-30">{{formatDate this.createdAt}}
                                                                </p>
                                                                {{!-- <a href="#" class="text-brand btn-reply">Reply <i
                                                                        class="fi-rs-arrow-right"></i> </a> --}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {{/each}}
                                            <!--single-comment -->

                                            <!--single-comment -->

                                        </div>
                                        {{else}}
                                        <h4>No Reviews Yet...</h4>
                                        {{/if}}
                                    </div>

                                </div>
                            </div>
                            <!--comment form-->
                            {{#if userCanReview}}
                            <div class="comment-form">
                                <h4 class="mb-15">Add a review</h4>
                                <div class="product-rate d-inline-block mb-30">
                                </div>
                                <div class="row">
                                    <div class="col-lg-8 col-md-12">
                                        <form class="form-contact comment_form" action="/addReview" method="post"
                                            id="commentForm">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <textarea class="form-control w-100" name="comment" id="comment"
                                                            cols="30" rows="9" placeholder="Write Comment"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <input class="form-control" name="name" id="name" type="text"
                                                            placeholder="Name" value="{{userData.name}}">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <input class="form-control" name="email" id="email" type="email"
                                                            placeholder="Email" value="{{userData.email}}">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6" style="display: none;">
                                                    <div class="form-group">
                                                        <input class="form-control" name="proId" id="proId" type="text"
                                                            placeholder="" value="{{product._id}}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="button button-contactForm">Submit
                                                    Review</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {{else}}
                            <div class="comment-form">
                                <h4 class="mb-15">Purchase and review our product</h4>
                                <div class="product-rate d-inline-block mb-30">
                                </div>
                                <div class="row">
                                    <div class="col-lg-8 col-md-12">

                                    </div>
                                </div>
                            </div>
                            {{/if}}
                        </div>

                        <div class="banner-img banner-big wow fadeIn f-none animated mt-50">
                            <img class="object-fit-cover border-radius-10" src="/images/banners/mario1.jpg" alt="">
                            <div class="banner-text">
                                <h4 class="mb-15 mt-40">Repair Services</h4>
                                <h2 class="fw-600 mb-20">We're an Apple <br>Authorised Service Provider</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script>
    $(document).ready(function () {
        $('.button.button-add-to-cart').on('click', function (e) {

            var prodId = $(this).data('product-id');
            var quantity = $('.order__quantity--input').val()

            $.ajax({
                url: '/addtocart/' + prodId,

                method: 'POST',
                // contentType: 'application/json',
                data: { prodId: prodId, quantity: quantity },
                success: function (result) {
                    if (result.success) {

                        Swal.fire({
                            icon: 'success',
                            title: 'Added to cart',
                            text: result.message,
                            showConfirmButton: false,
                            timer: 1500
                        })
                        $('#addcart').html('<button id="addcart-btn" onclick="window.location.href=\'/cart\'" class="button button-add-to-cart">Go to cart</button>');


                    } else {
                        if (result.message) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: result.message,

                            })
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Login Required',
                                showCancelButton: true,
                                confirmButtonText: 'Login',


                                confirmButtonColor: "#088178",
                                cancelButtonColor: "#d33",
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.href = '/login';
                                }
                            })
                        }

                    }
                },
                error: function (error) {
                    console.log('Error adding to cart', error)
                }
            })
        })
    })
</script>